!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Каталог / Видео / Friends
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/friends/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_friends_header.haml')).render
    
    %main#main.main{role: "main"}
      .ctn
        .grid
          
          .grid-i.__grid-3>
            = Haml::Engine.new(File.read('views/layouts/_friends_sidebar.haml')).render

          .grid-i.__grid-9>
            %section#section.section{role: "region", "aria-label" => "Content"}
              
              %article.promo.__videos
                %header.promo_h Видеообзоры
                %p
                  Вы&nbsp;задаете себе вопросы о&nbsp;том, какой 
                  %br
                  чехол выбрать для вашего iPhone, какая 
                  %br
                  акустическая система лучше всего подойдет 
                  %br
                  для вашей гостинной или что лучше всего 
                  %br
                  подарить другу geek&rsquo;у, или&nbsp;же вы&nbsp;просто 
                  %br
                  хотите узнать, что нового появилось в&nbsp;нашем 
                  %br
                  магазине? Если&nbsp;да, то&nbsp;это раздел специально 
                  %br
                  для вас. Наши ведущие с&nbsp;удовольствием 
                  %br
                  расскажут вам о&nbsp;новинках.

              %hr.hr.__dashed

              .block.p-t_1.p-b_3
                .block_h
                  .grid
                    .grid-i.__grid-7.va-m>
                      .tx.__left
                        %h1.block_h_t Видеообзоры акустики
                    .grid-i.__grid-2.va-m>
                      .tx.__right
                        %a.form-el.__btn.__small.__major{href: "/friends_videos_feed.html"} Все (365)
                .block_b
                  - 1.upto(2) do
                    = Haml::Engine.new(File.read('views/common/friends/_item_video.haml')).render

              .block.p-t_2.p-b_3
                .block_h
                  .grid
                    .grid-i.__grid-7.va-m>
                      .tx.__left
                        %h1.block_h_t Видеообзоры чехлов
                    .grid-i.__grid-2.va-m>
                      .tx.__right
                        %a.form-el.__btn.__small.__major{href: "/friends_videos_feed.html"} Все (365)
                .block_b
                  - 1.upto(2) do
                    = Haml::Engine.new(File.read('views/common/friends/_item_video.haml')).render

              .block.p-t_2.p-b_3
                .block_h
                  .grid
                    .grid-i.__grid-7.va-m>
                      .tx.__left
                        %h1.block_h_t Видеообзоры наушников
                    .grid-i.__grid-2.va-m>
                      .tx.__right
                        %a.form-el.__btn.__small.__major{href: "/friends_videos_feed.html"} Все (365)
                .block_b
                  - 1.upto(2) do
                    = Haml::Engine.new(File.read('views/common/friends/_item_video.haml')).render

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render