!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Обзоры товаров / Friends
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render
    = Haml::Engine.new(File.read('views/layouts/_header.haml')).render
    
    %main#main.main{role: "main"}
      .ctn
        .grid
          
          .grid-i.__grid-3>
            = Haml::Engine.new(File.read('views/layouts/_sidebar.haml')).render

          .grid-i.__grid-9>
            %section#section.section{role: "region", "aria-label" => "Content"}
              %article.promo.__reviews
                %header.promo_h Обзоры товаров
                %p.m-b_2
                  Мы&nbsp;рассказываем вам о&nbsp;самом
                  %br
                  новом и&nbsp;интересном из&nbsp;мира техники и&nbsp;аксессуаров.
                  %br
                  Сюда входят обзоры акустики, чехлов,
                  %br
                  рюкзаков, штативов, новинок от&nbsp;Apple, и&nbsp;еще 
                  %br
                  много всего интересного.
                %p
                  Мы&nbsp;уже подготовили для вас более 350&nbsp;обзоров, 
                  %br
                  и&nbsp;с&nbsp;каждым днем их&nbsp;становится все
                  %br
                  больше.

              %hr.hr.__dashed

              .block.p-t_1.p-b_3
                .block_h
                  %h1.block_h_t Главное за сегодня
                .block_b
                  %h3.title.__dashed
                    %span Обзор дня
                  = Haml::Engine.new(File.read('views/common/_review_promo_item.haml')).render
                  %div.m-b_3
                    %h3.title.__dashed
                      %span Свежие обзоры
                    .grid
                      - 1.upto(3) do
                        .grid-i.__grid-3>
                          = Haml::Engine.new(File.read('views/common/_review_item.haml')).render
                  %div
                    %h3.title.__dashed
                      %span Популярные обзоры
                    .grid
                      - 1.upto(3) do
                        .grid-i.__grid-3>
                          = Haml::Engine.new(File.read('views/common/_review_item.haml')).render

              .block.p-t_2.p-b_3
                .block_h
                  .grid
                    .grid-i.__grid-6.va-m>
                      .tx.__left
                        %h1.block_h_t Обзоры акустики
                    .grid-i.__grid-3.va-m>
                      .tx.__right
                        %a.form-el.__btn.__small.__major{href: "/reviews_feed.html"} Все (365)
                .block_b
                  .grid
                    - 1.upto(3) do
                      .grid-i.__grid-3>
                        = Haml::Engine.new(File.read('views/common/_app_item.haml')).render

              .block.p-t_2.p-b_3
                .block_h
                  .grid
                    .grid-i.__grid-6.va-m>
                      .tx.__left
                        %h1.block_h_t Техника Apple
                    .grid-i.__grid-3.va-m>
                      .tx.__right
                        %a.form-el.__btn.__small.__major{href: "/reviews_feed.html"} Все (365)
                .block_b
                  .grid
                    - 1.upto(3) do
                      .grid-i.__grid-3>
                        = Haml::Engine.new(File.read('views/common/_app_item.haml')).render

              .block.p-t_2.p-b_3
                .block_h
                  .grid
                    .grid-i.__grid-6.va-m>
                      .tx.__left
                        %h1.block_h_t Обзоры наушников
                    .grid-i.__grid-3.va-m>
                      .tx.__right
                        %a.form-el.__btn.__small.__major{href: "/reviews_feed.html"} Все (365)
                .block_b
                  .grid
                    - 1.upto(3) do
                      .grid-i.__grid-3>
                        = Haml::Engine.new(File.read('views/common/_app_item.haml')).render

    = Haml::Engine.new(File.read('views/layouts/_footer.haml')).render