%footer#footer.footer{role: "contentinfo"}
  .ctn
    %noindex
      .w-1-fifth
        %ul
          %li.title Компьютеры Mac
          %li
            %a{href: "/apple-mac/macbook-air/"} MacBook Air
          %li
            %a{href: "/apple-mac/macbook-pro-13/"} MacBook Pro 13″
          %li
            %a{href: "/apple-mac/macbook-pro-15/"} MacBook Pro 15″
          %li
            %a{href: "/apple-mac/macbook-pro-13-retina/"} MacBook Pro 13″ Retina
          %li
            %a{href: "/apple-mac/macbook-pro-13-retina-late-2013/"} MacBook Pro 13″ Retina (2013)
          %li
            %a{href: "/apple-mac/macbook-pro/"} MacBook Pro 15″ Retina
          %li
            %a{href: "/apple-mac/macbook-pro-late-2013/"} MacBook Pro 15″ Retina (2013)
          %li
            %a{href: "/apple-mac/imacs/"} iMac
          %li
            %a{href: "/apple-mac/mac-minies/"} Mac mini
          %li
            %a{href: "/apple-mac/mac-pro/"} Mac Pro
          %li
            %a{href: "/apple-mac/mac-pro-late-2013/"} Mac Pro (2013)
          %li
            %a{href: "/apple-mac/displays/"} Мониторы Apple
    %noindex
      .w-1-fifth
        %ul
          %li.title Телефоны iPhone
          %li
            %a{href: "/apple-iphone/iphone-5s/"} Apple iPhone 5s
          %li
            %a{href: "/apple-iphone/iphone-5c/"} Apple iPhone 5c
          %li
            %a{href: "/apple-iphone/iphone-5/"} Apple iPhone 5
          %li
            %a{href: "/apple-iphone/iphone-4S/"} Apple iPhone 4s
        %ul
          %li.title iPad
          %li
            %a{href: "/apple-ipad/ipad-mini-with-retina-display/"} iPad mini с дисплеем Retina
          %li
            %a{href: "/apple-ipad/ipad-mini/"} iPad mini
          %li
            %a{href: "/apple-ipad/ipad-air/"} iPad Air
          %li
            %a{href: "/apple-ipad/ipad-with-retina-display/"} iPad с дисплеем Retina
          %li
            %a{href: "/apple-ipad/ipad-2/"} Apple iPad 2
        %ul
          %li.title Плееры iPod
          %li
            %a{href: "/apple-ipod/ipod-touch/"} Apple iPod touch
          %li
            %a{href: "/apple-ipod/ipod-nano/"} Apple iPod nano
          %li
            %a{href: "/apple-ipod/shuffle/"} Apple iPod shuffle
          %li
            %a{href: "/apple-ipod/classic/"} Apple iPod classic
    %noindex
      .w-1-fifth
        %ul
          %li.title Аудио
          %li
            %a{href: "/speakers/loudspeakers/"} Акустика
          %li
            %a{href: "/speakers/headphones/"} Наушники
        %ul
          %li.title Аксессуары
          %li
            %a{href: "/accessories/chargers/"} Зарядные устройства
          %li
            %a{href: "/accessories/tablets/"} Графические планшеты
          %li
            %a{href: "/accessories/photocameras/"} Фотокамеры
          %li
            %a{href: "/accessories/toys/"} Игрушки
          %li
            %a{href: "/accessories/cables/"} Кабели и переходники
          %li
            %a{href: "/accessories/peripherals/"} Клавиатуры, мышки, коврики
          %li
            %a{href: "/accessories/bags/"} Сумки для ноутбуков
          %li
            %a{href: "/accessories/cases/?TYPE_DEVICE[]=3702&TYPE_DEVICE[]=3701&TYPE_DEVICE[]=3703&set_filter=Y"} Чехлы для iPhone
          %li
            %a{href: "/accessories/cases/?TYPE_DEVICE[]=3705&TYPE_DEVICE[]=3700&set_filter=Y"} Чехлы для iPad
          %li
            %a{href: "/accessories/cases/?TYPE_DEVICE[]=3699&set_filter=Y"} Чехлы для ноутбуков
    %noindex
      .w-2-fifth.padded.last
        %ul
          %li.title Услуги
          %li
            %a{href: "/services/ipod-related/app-store-account/"} Создание учетной записи App Store
          %li
            %a{href: "/services/ipod-related/setup/"} Настройка iPad, iPhone и iPod touch
          %li
            %a{href: "/services/ipod-related/contacts-transfer/"} Перенос контактов на iPad, iPhone и iPod touch
          %li
            %a{href: "/services/ipod-related/soft-restore/"} Восстановление iPad, iPhone и iPod
        %ul
          %li
            %a{href: "/services/firststeps/win-on-mac/install-and-setup/"} Установка и настройка Windows на Mac
          %li
            %a{href: "/services/firststeps/programs-install/"} Установка программ на Mac
          %li
            %a{href: "/services/firststeps/mac-setup/"} Настройка компьютера Mac
          %li
            %a{href: "/services/firststeps/peripherals/setup/"} Подключение периферийных устройств
          %li
            %a{href: "/services/network/lan/setup/"} Создание локальной сети
        %ul
          %li
            %a{href: "/services/problem-solving/repair-macosx/"} Восстановление Mac OS X
          %li
            %a{href: "/services/problem-solving/macosx/"} Установка или переустановка Mac OS X
        %ul
          %li
            %a{href: "/services/expert/visit/"} Выезд специалиста
    %br.cc
    .left
      %p
        © 2014 re:Store.
        %br
        Электронная почта:
        %a{href: "mailto:internetshop@re-store.ru"} internetshop@re-store.ru
        %br
        Корпоративный отдел:
        %a{href: "mailto:b2b@re-store.ru"} b2b@re-store.ru
        %br
        Тел.: 8 (800) 700-19-44 (круглосуточно, пн-вс)
        %br
        %a{href: "/shops/"} Адреса магазинов
        = "|"
        %a{href: "/about/contacts.php"} Контакты
    .left
      %a.mnogoru{href: "/about/mnogo/"}
      %a{href: "/akit/"}
        %img.akit{border: "0", src: "//www.re-store.ru.images.1c-bitrix-cdn.ru/upload/akit.png?1386225243"}/
    .right
      %p
        re:Store — крупнейшая сеть Apple Premium Reseller в России
        %br
        %a{href: "/about/"} О компании
        = "|"
        %a{href: "/about/bonus/"} Бонусная программа
        = "|"
        %a{href: "/about/delivery.php"} Оплата и доставка
        = "|"
        %a{href: "/about/insurance.php"} Гарантии
        %br
        %a{href: "/news/reviews/"} Обзоры товаров
        = "|"
        %a{href: "/seminars/"} Обучение
        = "|"
        %a{href: "/b2b/"} Корпоративным клиентам
      %p{style: "font-size:12px;"}
        Разработано в
        %a{href: "http://irbis-web.ru", title: "Разработка интернет-магазинов"} Irbis
    %br.cc